body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* styles for the NAVBAR */

.nav-link{
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding-right: 20px;
}

.nav-link:hover{
  color: rgb(102, 67, 37);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  font-size: 1.7rem;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.divider{
  width: 70%;
}

/* styles for the HOME */
.img-logo{ 
  width: 500px;
}


/* styles for the SIGN UP */


.SignupPage>h1, .LoginPage>h1{
  font-size: 1.5rem;
  color: rgb(102, 67, 37);
  text-decoration: underline;
  text-underline-offset: 0.4rem;

}

.sign-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 300px;
  background: white;
  border-radius: 4px;
  
}

.form-element{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
}

.button-form{
  background-color: rgb(102, 67, 37);
  color: white;
  width: 100px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.button-form:hover{
  background-color: black;
}

.links{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.links:hover{
  color: rgb(102, 67, 37);
}

.signup-content{
  display: flex;
}

.div-form{
  width: 50%;
  padding-left: 10%;
}

.div-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-image>img{
  width: 70%;
  padding-right: 25%;
}

.div-form-login{
  padding-top: 50px;
}

.LoginPage button{
  margin-top: 10px;
}

/* SERVICES PAGE */

.Services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container{
  display: flex;
  flex-wrap: wrap;
}


/* CARDS WITH INFORMATION */

.card {
  position: relative;
  background: white;
  border: 3px solid ;
  box-shadow: 1px 1px 4px rgba(dark-color, 0.3);
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
}

.card-head img{
  height: 150px;
  width: 150px;
}
  
.card-body p {
  margin: 0;
}

.card-body h4 {
  margin: 7px;
}


/* CALENDARRRRRR */

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.date {
  flex-basis: calc(100% / 7);
  box-sizing: border-box;
  padding: 5px;
  height: 70px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #eee;
  z-index: 1;
}

.day .header .day {
  font-weight: bold;
}

.day .header .month {
  font-size: 0.8em;
}

.day .header .number {
  font-size: 1.2em;
}

.time-slots {
  margin-top: 10px;
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
}

.date:hover .time-slots {
  display: block;
}

.time-slot {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  z-index: 3;
}

 .time-slot.selected {
  background-color: red;
  cursor: not-allowed;
} 


/* ABOUT US PAGE */

.aboutus{
  display: flex;
  align-items: center;
  padding: 5vh 15vw;
}
.aboutus img{
  width: 25vw;
  border-radius: 10%;
}

.aboutus p{
  padding: 20px;
}

.aboutus-text{
  border-style: solid;
  border-width: 3px;
  border-color: rgb(102, 67, 37);
  border-radius: 10px;
  margin-right: 5vw;
}

.aboutus-text span{
  font-weight: bold;
}